@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap: .6em;
  --black: #091317;
  --shadowOnTransparent: #09131788;
  --shadowOnWhite: #e4ebee;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../../public/img/taageskog.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.1em;
}
h1{
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
a:hover {
  cursor: pointer;
}
.wrapper {
  margin: 0 auto;
  max-width: 80em;
  display: grid;
}

/* Prosjektliste */
.prosjektListeWrapper {
  display: grid;
  margin-top: 200px;
  gap: var(--gap);
}

.introBoks{
  margin: 0 var(--gap);
  color: white;
}

.webProsjekt {
  display: grid;
  margin: var(--gap);
}
.prosjektBeskrivelseWrapper {
  display: grid;
  grid-template-rows: 2em auto;
  margin: 0 var(--gap);
  background-color: white;
  border-radius: 0 0 var(--gap) var(--gap);
}
.prosjektBeskrivelse{
  margin: var(--gap);
}
.prosjektImg{
  max-height: 20em;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--gap);
}
.spacer{
  height: 2em;
  background: linear-gradient(180deg, var(--shadowOnWhite), white);
}

@media (min-width:600px){

  :root {
    --gap: 1em;
  }

  .introBoks{
    margin: calc(var(--gap) * 5) 0 calc(var(--gap) * 10) 0;
  }

  .webProsjekt{
    width: 100%;
    grid-template-columns: 1fr 1fr;
    place-items: center start;
    margin-top: calc(0em - (var(--gap) * 3));
  }
  .spacer{
    height: 100%;
    width: 2em;
    background: linear-gradient(to right, var(--shadowOnWhite), white);
  }
  .spacerH {
    background: linear-gradient(to left, var(--shadowOnWhite), white);
    place-self: end;
  }
  .prosjektBeskrivelseWrapper {
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    margin: var(--gap) 0;
    min-width: 20em;
    max-width: 40em;
    margin-left: calc(0em - (var(--gap) * 2));
    border-radius: 0 var(--gap) var(--gap) 0;
  }
  .prosjektBeskrivelseWrapperH{
    place-self: center end;
    margin-right: calc(0em - (var(--gap) * 2));
    border-radius: var(--gap) 0 0 var(--gap);
  }
  .prosjektImg{
    width: calc(100% - (var(--gap) * 2));
    place-self: center start;
    z-index: 900;
  }
  .prosjektImgH{
    place-self: center end;
  }
}

/* Header og nav */

#header {
  background-color: transparent;
  z-index: 9999;
  position: fixed;
  width: 100%;
}
#mainNav {
  background-color: black;
  margin-top: 124px;
  height: 18px;
  display: flex;
  color: #3791ba;
  gap: 1em;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 0 1em;
}
#mainNav ul {
  display: flex;
  gap: 0.8em;
}
#mainNav ul li a,
#mainNav div a {
  color: white;
  padding: 20px 0;
}
#mainNav ul li a:hover {
  color: orangered !important;
}
#mainNav svg {
  margin-bottom: -0.5px;
}
.makeSpaceForLogo {
  width: 95px;
  height: 10px;
}
#logoen {
  background-color: transparent;
  position: absolute;
  z-index: 99999;
  top: 100px;
  margin-top: -15px;
  width: 95px;
  height: 87px;
}

/* forsiden med alle parallaxgreiene */

#scene {
  background-image: url(../../public/img/taageskog.jpg);
  background-size: cover;
  overflow: hidden;
}
.parallaxBackgroundParticles {
  background-image: url(../../public/img/Particles-Transparent-File.png);
  background-size: cover;
  margin-left: -5vw;
  margin-top: -5vh;
  width: 120vw;
  height: 110vh;
}
.parallaxMeg {
  background-image: url(../../public/img/placeholderChrister.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100vw;
  height: 110vh;
}
.parallaxForgrunn2 {
  background-size: cover;
  margin-left: -10%;
  margin-top: -10%;
  width: 120%;
  height: 130%;
  background-blend-mode: screen;
}
.parallaxForgrunn3 {
  background-image: url(../../public/img/snow.png);
  background-size: cover;
  margin-left: -10%;
  margin-top: -10%;
  width: 120%;
  height: 130%;
  background-blend-mode: screen;
  pointer-events: none;
  opacity: 0.2;
}
.parallaxFrontPageLinks {
  margin-left: calc(50% - (65px + 7.3em));
  margin-top: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  align-content: flex-end;
}
.parallaxFrontPageLink {
  padding: 1em 1.3em;
  border-radius: 2px;
  font-weight: bold;
  background-color: white;
  color: #110022;
  box-shadow: 0 0 4px white;
  margin-bottom: 800px;
}
.parallaxGooglyEyes {
  width: 100%;
  height: 100%;
  margin-left: calc(50% - 65px);
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.parallaxEye {
  background-color: #ddeeff;
  height: 40px;
  width: 40px;
  clip-path: circle(50% at 50% 50%);
  margin-bottom: 390px;
}
.parallaxLeye {
  margin-bottom: 380px;
}
.parallaxPupil {
  background-color: #110022;
  height: 33px;
  width: 33px;
  clip-path: circle(50% at 50% 50%);
}
