@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --gap: 0.5em;
   --black: #091317;
   --shadowOnTransparent: #09131788;
   --lightTransparent: #ffffff88;
   --shadowOnWhite: #e4ebee;
   --bright: orangered;
   --secondary: #71cbf5;
   --corners: 0.1em;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

html {
   font-family: Arial, Helvetica, sans-serif;
   background-image: url(../../public/img/taageskog.jpg);
   background-attachment: fixed;
   background-size: cover;
   font-size: 1.1em;
}
h1 {
   font-size: 2rem;
   font-weight: bold;
}
a {
   color: var(--bright);
   font-size: 0.8rem;
   font-weight: 600;
}
a:hover {
   cursor: pointer;
   color: var(--secondary);
}
h2 {
   font-weight: bold;
   color: var(--black);
   font-size: 1.1rem;
}
h3 {
   font-weight: bold;
}
p {
   font-size: 0.9rem;
   margin: .5rem 0;
}
aside {
   font-size: 0.7rem;
}
.wrapper {
   margin: 0 auto;
   width: calc(100vw - (var(--gap) * 2));
   max-width: 80em;
   display: grid;
}





/* bhg-wrapper */

.bhg-wrapper {
   display: grid;
   gap: var(--gap);
}





/* blogg */

.blogcardtext p {
   display: block;
}

.blogcard {
   max-width: 55ch;
   display: grid;
   gap: var(--gap);
   margin: calc(var(--gap) * 2) var(--gap);
}
.blogwrapper {
   background-color: var(--lightTransparent);
   display: flex;
   flex-direction: column;
   justify-items: center;
   gap: var(--gap);
   padding-bottom: calc(var(--gap) * 4);
}





/* Ressursliste */

.ressurslistewrapper {
   margin-top: 250px;
   width: fit-content;
}

.barnehageressursliste {
   padding: var(--gap);
   display: flex;
   gap: var(--gap);
   flex-direction: row;
   overflow-x: scroll;
   background-color: var(--shadowOnTransparent);
   width: calc(100vw - (var(--gap) * 2));
}
.barnehageressurskort {
   width: 85vw;
   max-width: 350px;
   display: grid;
   grid-template-columns: 120px 1fr;
   grid-auto-flow: column;
   gap: var(--gap);
   padding: var(--gap);
   background-color: var(--lightTransparent);
}
.barnehageressurskort p {
   display: inline;
}





/* Prosjektliste */
.prosjektListeWrapper,
.enkeltProsjektWrapper {
   display: grid;
   gap: calc(var(--gap) * 4);
}

.introBoks {
   margin: 0 var(--gap);
   padding: var(--gap);
   padding-top: 250px;
   color: var(--black);
   border-radius: var(--corners);
   background-color: #ffffff88;
}
.webProsjekt {
   display: grid;
   margin: 2em var(--gap);
   grid-template-rows: auto auto;
}
.gamleProsjekterKnappWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}
.gamleProsjekterKnapp {
   margin: 20vh var(--gap);
   color: white;
   font-size: 2rem;
   padding: 1em;
   max-width: 10em;
   background-color: var(--black);
   border-radius: 100%;
   aspect-ratio: 1/1;
}
.gamleProsjekterKnapp:hover {
   background-color: var(--bright);
}
.prosjektBeskrivelseWrapper {
   display: grid;
   grid-template-rows: 2em auto;
   margin: 0 calc(var(--gap) * 2);
   background-color: white;
   border-radius: 0 0 var(--corners) var(--corners);
}
.prosjektBeskrivelse {
   margin: calc(var(--gap) - 1em) var(--gap) var(--gap) var(--gap);
}
.prosjektBeskrivelse p {
   margin: 1em 0;
   display: flex;
}
.prosjektBeskrivelse .ingress {
   display: block;
}
.prosjektImg {
   max-height: 20em;
   overflow: clip;
   border-radius: var(--corners);
   order: -2;
   justify-items: end;
   align-content: center;
}
.prosjektImg img {
   width: 100%;
   align-self: center;
}
.spacer {
   height: 2em;
   order: -1;
   background: linear-gradient(180deg, var(--shadowOnWhite), white);
}
.teknologier {
   display: flex;
   gap: 0.5em;
   width: 100%;
   height: 20px;
   font-size: 0.8rem;
   padding: 1em;
   background-image: linear-gradient(180deg, var(--shadowOnWhite), white, white);
   border-radius: var(--corners);
   justify-content: space-between;
   align-items: center;
   text-align: right;
}
.teknologier,
p {
   display: flex;
   gap: 0.5em;
}





/* Enkeltprosjekt */

.enkeltProsjektWrapper {
   margin-top: 250px;
}
.besokeKnapp {
   background-color: var(--secondary);
   color: var(--black);
   padding: 0.6em 1em;
   border-radius: var(--corners);
}
.besokeKnapp:hover {
   background-color: var(--black);
   color: white;
}
.prosjektImg2 {
   float: right;
   max-width: 40%;
   max-height: 8em;
   margin-left: var(--gap);
   overflow-y: scroll;
}





/* Storskjerm */

@media (min-width: 1200px) {
   :root {
      --gap: 1em;
   }

   .introBoks {
      margin: calc(var(--gap) * 5) 0 calc(var(--gap) * 10) 0;
   }

   .prosjektListeWrapper {
      gap: var(--gap);
   }

   .webProsjekt {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      place-items: center start;
      margin-top: calc(0em - (var(--gap) * 3));
   }
   .spacer {
      height: 100%;
      width: 2em;
      background: linear-gradient(to right, var(--shadowOnWhite), white);
      order: unset;
   }
   .spacerH {
      background: linear-gradient(to left, var(--shadowOnWhite), white);
      place-self: end;
   }
   .prosjektBeskrivelseWrapper {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      margin: 8em 0;
      min-width: 20em;
      max-width: 40em;
      margin-left: calc(0em - (var(--gap) * 2));
      border-radius: 0 var(--corners) var(--corners) 0;
   }
   .prosjektBeskrivelseWrapperH {
      place-self: center end;
      margin-right: calc(0em - (var(--gap) * 2));
      border-radius: var(--corners) 0 0 var(--corners);
   }
   .enkeltProsjektBeskrivelseWrapper {
      margin-left: 0;
   }
   .prosjektBeskrivelse {
      margin: var(--gap);
   }
   .prosjektImg {
      width: calc(100% - (var(--gap) * 2));
      place-self: center start;
      max-height: 60em;
      z-index: 900;
      order: unset;
   }
   .prosjektImgH {
      place-self: center end;
   }
   .ressurslistewrapper {
      height: auto;
      flex-direction: column;
      order: 2;
   }
   .bhg-wrapper {
      grid-template-columns: auto min-content;
   }
   .barnehageressursliste {
      flex-direction: column;
      width: fit-content;
      overflow-x: unset;
   }
   .blogwrapper {
      display: grid;
      margin-top: 240px;
      order: 0;
   }
}





/* Header og nav */

#header {
   background-color: transparent;
   z-index: 9999;
   position: fixed;
   width: 100%;
   backdrop-filter: blur(15px);
}
#mainNav {
   background-color: black;
   margin-top: 124px;
   height: 21px;
   display: flex;
   color: var(--bright);
}
#mainNavContent {
   width: 100%;
   max-width: 90rem;
   font-size: 0.8rem;
   padding: 0 1em;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
#mainNavContent a {
   width: 90px;
}
#mainNavContent ul {
   display: flex;
   gap: 0.8em;
}
#mainNavContent ul li a,
#mainNavContent div a {
   color: white;
   padding: 20px 0;
}
#mainNavContent ul li a:hover {
   color: #71cbf5 !important;
}
#mainNavContent svg {
   margin-bottom: -0.5px;
}
#logoen {
   background-color: transparent;
   position: absolute;
   z-index: 99999;
   top: 100px;
   margin-top: -13px;
   width: 95px;
   height: 87px;
}





/* forsiden med alle parallaxgreiene */

#scene {
   background-image: url(../../public/img/taageskog2.jpg);
   background-size: cover;
   overflow: clip;
}
.parallaxBackgroundParticles {
   background-image: url(../../public/img/Particles-Transparent-File.png);
   background-size: cover;
   margin-left: -5vw;
   margin-top: -5vh;
   width: 120vw;
   height: 110vh;
}
.parallaxMeg {
   background-image: url(../../public/img/placeholderChrister.png);
   background-size: 400px;
   background-repeat: no-repeat;
   background-position: bottom center;
   width: 100vw;
   height: 110vh;
}
.parallaxForgrunn2 {
   background-size: cover;
   margin-left: -10%;
   margin-top: -10%;
   width: 120%;
   height: 130%;
   background-blend-mode: screen;
}
.parallaxForgrunn3 {
   background-image: url(../../public/img/snow.png);
   background-size: cover;
   margin-left: -10%;
   margin-top: -10%;
   width: 120%;
   height: 130%;
   background-blend-mode: screen;
   pointer-events: none;
   opacity: 0.2;
}
.parallaxFrontPageLinks {
   margin-left: calc(50% - (65px + 7.3em));
   margin-top: 20%;
   width: 100%;
   height: 100%;
   display: flex;
   gap: 50px;
   align-items: center;
   align-content: flex-end;
}
.parallaxFrontPageLink {
   padding: 1em 1.3em;
   border-radius: 2px;
   font-weight: bold;
   background-color: white;
   color: #110022;
   box-shadow: 0 0 4px white;
   margin-bottom: 800px;
}
.parallaxGooglyEyes {
   width: 100%;
   height: 100%;
   margin-left: calc(50% - 65px);
   display: flex;
   align-items: flex-end;
   gap: 10px;
}
.parallaxEye {
   background-color: #ddeeff;
   height: 40px;
   width: 40px;
   clip-path: circle(50% at 50% 50%);
   margin-bottom: 390px;
}
.parallaxLeye {
   margin-bottom: 380px;
}
.parallaxPupil {
   background-color: #110022;
   height: 33px;
   width: 33px;
   clip-path: circle(50% at 50% 50%);
}
